* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

:root {
  --oq: white;
  --qora: black;
  --fa: #fafafa;
  --shadow: rgba(0, 0, 0, 0.06);
}

header {
  padding: 23px 0;
  background: var(--oq);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--qora);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: 'Nunito Sans', sans-serif;
}

#btn {
  padding: 8px 12px;
  background-color: inherit;
  color: var(--qora);
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

#btn img {
  color: var(--qora);
  width: 15px;
  height: 13.75px;
  /* margin-top: 5px; */
}

main {
  background-color: var(--fa);
  padding: 40px 0;
}

.inputs {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 50px;
  padding-top: 19px;
}

.inputs {
  width: 480px;
  height: 56px;
  padding: 15px;
  background-color: var(--oq);
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 9px 0px var(--shadow);
  /* background-color: transparent; */
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #202C36;
  margin-left: 10px;
}

.inputs img {
  width: 18px;
  height: 18px;
  /* margin-top: 19px; */
  margin-top: 5px;
}

select,
option {
  background-color: var(--oq);
  border: none;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 9px 0px var(--shadow);
  color: var(--qora);
  outline: none;
}

.country {
  background-color: var(--oq);
  box-shadow: 0px 2px 9px 0px var(--shadow);
  border-radius: 5px;
  overflow: hidden;
  width: 264px;
  height: 336px;
}

.country img {
  width: 100%;
  height: 160px;
}

.country-text {
  /* margin-top: 10px; */
  /* padding: 10px 20px 30px; */
  padding-left: 24px;
}

.country-text h2 {
  color: var(--qora);
  margin: 12px 0;
  font-family: 'Nunito Sans', sans-serif;
  width: 300px;
  font-size: 18px;
  line-height: 26px;
}

.country-text p {
  color: var(--qora);
  margin: 8px 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.countries {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

}

.dark {
  --oq: #2B3844;
  --qora: white;
  --fa: #202C36;
}

a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}

@media(max-width:700px) {
  .inputs {
    width: 300px;
    margin-inline: auto;
    display: flex;
    /* justify-content: space-between; */
  }

  h1,
  #btn {
    font-size: 14px;
  }

  h1 {
    width: 138px;
    margin-inline: auto;
  }

  #btn {
    width: 125px;
    margin-inline: auto;
  }
}

@media(max-width:370px) {
  .inputs {
    width: 250px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }

  h1,
  #btn {
    font-size: 14px;
  }

  h1 {
    width: 138px;
    margin-inline: auto;
  }

  #btn {
    width: 125px;
    margin-inline: auto;
  }
}